<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cloud Scale Demo :: lozanotek, inc.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Demo for 'Scaling Your Applications on the Cloud' by lozanotek.">
        <meta name="author" content="lozanotek">
        <link href="//cdn.lozanotek.net/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <section class="container">
            @RenderBody()
        </section>
        <div class="clearfix"></div>
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//cdn.lozanotek.net/scripts/jquery/jquery-2.1.1.min.js"></script>
        <script src="//cdn.lozanotek.net/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-35854438-1']);
            _gaq.push(['_setDomainName', 'devmoin.es']);
            _gaq.push(['_trackPageview']);
            
            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
