@{
    Layout = "~/_Layout.cshtml";
}

<div class="hero-unit">
    <p>This is a demo app for the <strong><a href="https://github.com/lozanotek/cloudscale">Scaling Your Application on the Cloud talk.</a></strong></p>
    <p><h1>@System.Environment.MachineName</h1></p>
</div>

<div class="row">
    <div class="span4">
        <h2>All the sites!</h2>
        <ul>
            <li><a href="http://lztk-dsm-usnorth.azurewebsites.net">US North</a></li>
            <li><a href="http://lztk-dsm-uswest.azurewebsites.net">US West</a></li>
            <li><a href="http://lztk-dsm-useast.azurewebsites.net">US East</a></li>
            <li>&nbsp;</li>
            <li><a href="http://lztk-dsm-brsouth.azurewebsites.net">Brazil</a></li>
            <li>&nbsp;</li>
            <li><a href="http://lztk-dsm-euwest.azurewebsites.net">EU West</a></li>
            <li><a href="http://lztk-dsm-eunorth.azurewebsites.net">EU North</a></li>
            <li>&nbsp;</li>
            <li><a href="http://lztk-dsm-aseast.azurewebsites.net">Asia East</a></li>
            <li><a href="http://lztk-dsm-assoutheast.azurewebsites.net">Asia Southeast</a></li>
            <li>&nbsp;</li>
            <li><a href="http://lztk-dsm-jpeast.azurewebsites.net">Japan East</a></li>
            <li><a href="http://lztk-dsm-jpwest.azurewebsites.net">Japan West</a></li>
        </ul>
    </div>
</div>