@{
    Layout = "~/_Layout.cshtml";
}

<div class="hero-unit">
    <p>This is a demo app for the <strong><a href="https://github.com/lozanotek/cloudscale">Scaling Your Application on the Cloud talk.</a></strong></p>
    <p><h1>@System.Environment.MachineName</h1></p>
</div>
        