<?xml version="1.0" ?>
<configuration>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true" />
        <urlCompression doDynamicCompression="true" doStaticCompression="true" />
    </system.webServer>
</configuration>
